# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
venv/
backend/venv/
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Node (لو عندك frontend)
node_modules/

# build files
dist/
build/

#secret folder
useful_Me_only/
